* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* cursor: grab; */
    font-family: 'Protest Revolution' , sans-serif;
}
.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* cursor: progress; */
    visibility: hidden; /*contect initially*/
    opacity: 0  ;
}
.landing-page.ready {
    visibility: visible; /* Show content when ready */
    opacity: 1;
    transition: opacity 0.3s ease-in-out; /* Optional fade-in */
}

.welcome-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-size: 8rem;
    position: relative;
    overflow: hidden;
    text-shadow: 2px 2px 10px rgba(192, 45, 45, 0.859);
    font-weight: bold;
    color: rgb(217, 199, 199);
    letter-spacing: 10px;
    font-family: 'Protest Revolution' , sans-serif;
    cursor: pointer;
    margin-bottom: 80px;
    
}



.player-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(106, 106, 106, 0.203);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.4);
    max-width: 500px;
    width: 100%;
    margin-bottom: 60px;
    cursor: grab;
    /* margin: 0 auto; */
    text-align: center;
    color: #fff;

    
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: text;
}

input {
    padding: 10px;
    margin: 5px 0;
    width: 200px;
    font-size: 1rem;
    cursor: text;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background-color: #c4cb42;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button:hover {
    /* background-color: #45a049; */
    background-color: #ccc7a76c;
    color: white;
    
}
.player-input-section h2 {
    font-size: 45px;
    color: black;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 4px 4px 29px rgba(223, 223, 223, 0.88);

}

.player-input-section h2:hover{
    color: rgb(0, 0, 0);
    text-shadow: 4px 1px 7px rgba(208,16,16,0.9);    font-weight: bold;
}